.video {
    position: relative;
    background-color: gray; /* change later to white */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

.video__player {
    object-fit: fill;
    width: 100%;
    height: 100%;
}